@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root {
    --colorBase: #3a4b9030;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

.contentheader {
      top: 0;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
     justify-content: space-between;
   
  

    height: 80px;
    background: #23313f30;  
    position: fixed;
    width: 100%;
    z-index: 100;  
}
.contentheader ul {
  list-style: none;      /* Quita los puntos de la lista */
  display: flex;         /* Alinea en fila */
  gap: 20px;             /* Espacio entre elementos */
  padding: 40px;            /* Quita padding por defecto */
  margin: 0; 
}
.contentheader li a {
   text-decoration: none;  /* Quita subrayado */
  color: rgb(255, 255, 255);           /* Cambia el color del texto (puedes personalizar) */
  font-weight: bold;
}




body {
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
    
     background-image: url(lunas.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-attachment: fixed;
     
}
header {
 min-height: 400px;
    display: flex;
    align-items: center;
     
}

.navbar  {
    top: 0;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
     justify-content: space-between;
   
  

    height: 80px;
    background: #1c252f6c;  
    position: fixed;
    width: 100%;
    z-index: 100; 
}
.navbar ul {
  list-style: none;      /* Quita los puntos de la lista */
  display: flex;         /* Alinea en fila */
  gap: 20px;             /* Espacio entre elementos */
  padding: 40px;            /* Quita padding por defecto */
  margin: 0; 
}

.navbar li a {
  text-decoration: none;  /* Quita subrayado */
  color: rgb(255, 255, 255);           /* Cambia el color del texto (puedes personalizar) */
  font-weight: bold;
  
}

.imagenh {
    width: 400px;
    height: auto;
    
}







/*pagina de registro*/

.formulario {
    position: relative;
    z-index: 10;
    max-width: 700px;
    margin: 20px auto 40px auto;
    background: rgba(245, 245, 245, 0.373);
    border-radius: 4px;
    -webkit-box-shadow: 3px 17px 21px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 17px 21px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 17px 21px -6px rgba(0, 0, 0, 0.75);
}

.user{
    background: #3f52744c;
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    color: rgba(250, 235, 215, 0.453);
}


.formulario img {
    width: 200px;
    margin: 30px auto 30px auto;
    color: rgba(240, 255, 255, 0.292);
}

form {
    display: flex;
}

.infouser{
    display: flex;
    flex-direction: column;
    margin:auto;
}

form h1 {
    text-align: center;
}

h2{
    margin-bottom: 10px;
}

/*footer*/
footer{
    position: relative;
  
    background: #0311204f;
}
.conteninfo{
    background: #0311204f;
   
    color: rgba(255, 255, 255, 0.18);
    text-align: center;
    padding: 100px 0;
}
